@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
p {
    font-family: 'Rubik', sans-serif;
    color: white;
}

